*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}
:root{
   --background:#fbfbfb;
   --txtBackground:#cce5ff;
   --regularBtn:#cbe6ff;
   --cntBtn:#a2d1f8;
   --cntBtnhover:#85c5fa;
   --deleteBtn:#ff97a8;
   --textColor:#2C4B69;
   --regularBtnClick:#67abe2;
}
body{

    background-color: var(--background);
}
main{
    max-width: 1280px;
    width: 100%;
    height: 100vh;
    background-color: white;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.069);
 
}

.hex{
    padding-top: 60px;
}
.textarea{
    max-width: 896px;
    width: 100%;

    height: 300px;

    background-color: var(--txtBackground);
    margin: auto;
   padding-top: 80px;
   display: flex;
   padding: 20px;
   justify-content: end;
   align-content: flex-end;
   position: relative;

}
.buttons{
    max-width: 896px;
    width: 100%;
    display: block;
    margin: 5px auto 5px auto;
}

.inputBtn{

    color: var(--textColor);
    border: none;
    border-radius: 10px;
    width: 62px;
    height: 62px;
    margin :10px 10px 10px 10px ;
    background-color: var(--regularBtn);
    
}
.inputBtn:hover{
    background-color: var(--cntBtn);
}
.inputBtn:active{
    background-color:var(--regularBtnClick) ;
}
.cntBtn{

    background-color: var(--cntBtn);
}

.cntBtn:hover{

    background-color: var(--cntBtnhover);
}
.cntBtn:active{

    background-color: var(--regularBtnClick);
}
.redBtn{
    color: white;
    background-color: var(--deleteBtn);
}

#textShower{
   font-size: 1.7rem;
   direction: ltr;
   padding: 10px;
   height: 50px;
   background-color: var(--txtBackground);
   width: 95%;
   outline: none;
   border: none;
   position: absolute;
   bottom: 30px;

}
.buttons{
    display: grid;
    grid-template-rows: 1.1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(10,1fr);
    grid-template-areas: 
    ". . . . . . . . m m"
    "s s f f f n n n o o"
    "s s f f f n n n o o"
    "s s f f f n n n o o"
    "s s f f f n n n o o";
}
.modifires{
    grid-area: m;
}
.oprators{
    grid-area: o;
}
.nums{
    grid-area: n;
}
.opfunctons{
    grid-area: f;
}
.sixers{
    grid-area: s;
}

.oprators{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);

    grid-template-areas: 
    "a b "
    "c d"
    "h i"
    "e e"
    ;
}
.equlBtn{
    width: auto;
    grid-area: e;
}
.sde1{
    grid-area: a; 
}
.sde2{
    grid-area: b; 
}
.sde3{
    grid-area:c; 
}
.sde4{
    grid-area: d; 
}
.sde5{
    grid-area: h; 
}
.sde6{
    grid-area: i; 
}
.inputBtn img{
    width: 70%;
    opacity: 0.8;
    margin-top: 2px;
}
.opfunctons{
    display: flex;
    flex-wrap: wrap;
}
.numcon{
    background-color: var(--cntBtn);
}